<% include ./partials/head %>
<body class="">
  <div class="wrapper">
    <% include ./partials/sidebar %>
    <div class="main-panel">
      <!-- Navbar -->
      <% include ./partials/navbar %>
      <!-- End Navbar -->
      <div class="content">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <p class="card-category">Tests available</p>
                    <h3 class="card-title"><%= accountStatus.credits_available %></h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-danger">warning</i>
                      <a href="https://app.codility.com/upgrade/" target="_blank">Get More Tests...</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">code</i>
                    </div>
                    <p class="card-category">Skills</p>
                    <h3 class="card-title"><%= testsCount.count %></h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">update</i> Just Updated
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <p class="card-category">Uninterviewed Students</p>
                    <h3 class="card-title"><%= uninterviewedStudentsCount %></h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">verified_user</i>
                    </div>
                    <p class="card-category">Approved Students</p>
                    <h3 class="card-title"><%= approvedStudentsCount %></h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">update</i> Just Updated
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <br>
          </div>
        </div>
      </div>
      <% include ./partials/footer %>
    </div>
  </div>
  <% include ./partials/scripts %>
</body>

</html>