<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#">Grad Force</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <% if (isLoggedIn) { %>
          <% if (currentUser.role === 'admin') { %>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <% } %>
          <li class="nav-item">
            <a href="/profile" class="nav-link">
              <i class="material-icons">person</i> My Profile
            </a>
          </li>
          <li class="nav-item ">
            <form action="/auth/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <a href="#" onclick="this.parentNode.submit(); return false;" class="nav-link" >
                <i class="material-icons">exit_to_app</i> Logout
              </a>
            </form>
          </li>
          <% } else { %>
          <li class="nav-item <%= path === '/auth/register' ? 'active' : '' %>">
            <a href="/auth/register" class="nav-link">
              <i class="material-icons">person_add</i> Register
            </a>
          </li>
          <li class="nav-item <%= path === '/auth/login' ? 'active' : '' %>">
            <a href="/auth/login" class="nav-link">
              <i class="material-icons">fingerprint</i> Login
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>